@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .space {
    margin-left: 7px;
    display: block;
  }

  .remove_pad {
    @apply lg:[padding:0];
  }

  .fill svg path {
    fill: black;
  }
}
